%h1.twelvecol=@title

.sixcol
  .frame
    %img{:src => @image.source }
  =@about.body

.sixcol.last
  %h2 What the critics say &hellip;
  -@reviews.each do |review|
    .review
      %blockquote=review.quote
      %p.source
        &mdash;
        =review.source