.sixcol
  %h2=@title
  .frame
    %img{:src => @image.source }
  =@about.body

.sixcol.last
  %h3 What the critics say &hellip;
  -@reviews.each do |review|
    .review
      .clearfix
        %blockquote=review.quote
      %p.source=review.source