%h2=@album.title
#artwork 
  %img{:src => @album.large_art_url}

%ol#track-listing
  -@album.tracks.each do |track|
    %li
      %p=track.title
      -track_dom = "track-#{track.track_id}"
      -if track.streaming_url.blank?
        %span.no-streaming Not available
      -else
        %a.track{:id => track_dom, :href => track.streaming_url, "data-duration" => track.duration }Listen