!!!
%html
  %head
    %title The Outdoor Types
    %script{:src=> "http://use.typekit.com/tji5wyt.js", :type => "text/javascript", :charset => "utf-8"}
    :javascript
      try{Typekit.load();}catch(e){}
    %meta{"http-equiv" => "X-UA-Compatible", :content => "chrome=1"}
    :plain
      <!--[if gte IE 7]><!-->
        <link rel="stylesheet" href="/style.css" type="text/css" media="screen">    
      <!-- <![endif]-->
  %body  
    #background-image{"data-img-src" => "/images/bg.jpg"}
    #page.container.clearfix
      #header.grid_16
        %h1#logo
          %a{:href => "/"}The Outdoor Types
          
        %p.note.grid_4 set your burning sails upon this land
        %ul#navigation.clearfix
          %li.grid_1
            %a{:href => "http://theoutdoortypes.tumblr.com"}News
          %li.grid_1
            %a{:href => "/about"}About
          %li.grid_1
            %a{:href => "/music"}Records
          %li.grid_1
            %a{:href => "/shows"}Shows
            %li.grid_1
              %a{:href => "http://twitter.com/theoutdoortypes"}Twitter
          %li.grid_1
            %a{:href => "/contact"}Contact
      #content.grid_16
        = yield
    
    %script{:src=> "http://code.jquery.com/jquery-1.5.min.js", :type => "text/javascript", :charset => "utf-8"}
    %script{:src=> "/js/hashgrid.js", :type => "text/javascript", :charset => "utf-8"}
    %script{:src=> "/js/swfobject.js", :type => "text/javascript", :charset => "utf-8"}
    %script{:src=> "/js/jwplayer.js", :type => "text/javascript", :charset => "utf-8"}
    %script{:src=> "/js/odt.js", :type => "text/javascript", :charset => "utf-8"}