!!!
%html
  %head
    %title The Outdoor Types
    %script{:src=> "http://use.typekit.com/tji5wyt.js", :type => "text/javascript", :charset => "utf-8"}
    :javascript
      try{Typekit.load();}catch(e){}
    %meta{"http-equiv" => "X-UA-Compatible", :content => "chrome=1"}
    :plain
      <!--[if gte IE 7]><!-->
        <link rel="stylesheet" href="/style.css" type="text/css" media="screen">    
      <!-- <![endif]-->
  %body
    #page.group
      #header
        %h2#logo
          %a{:href => "/"}The Outdoor Types
        %ul#navigation.group
          %li
            %a{:href => "http://theoutdoortypes.tumblr.com"}Blog
          %li
            %a{:href => "/about"}About
          %li
            %a{:href => "/music"}Music
          %li
            %a{:href => "/shows"}Shows            
          %li
            %a{:href => "/press"}Press
          
      #content.group
        = yield
    
    %script{:src=> "http://code.jquery.com/jquery-1.5.min.js", :type => "text/javascript", :charset => "utf-8"}
    %script{:src=> "/js/hashgrid.js", :type => "text/javascript", :charset => "utf-8"}
    %script{:src=> "/js/swfobject.js", :type => "text/javascript", :charset => "utf-8"}
    %script{:src=> "/js/jwplayer.js", :type => "text/javascript", :charset => "utf-8"}
    %script{:src=> "/js/odt.js", :type => "text/javascript", :charset => "utf-8"}