.intro.twelvecol
  %h2 Our records
  %p Click on an album to listen
%ul#albums
  -@discography.each_with_index do |album, index|
    %li.fourcol{:class => ((index + 1) % 3 == 0) ? "last" : ""}
      .frame
        %a{:href => "/music/#{album['title'].downcase.gsub(/\s/, '-')}"}
          %img{:src => album['large_art_url']}
      %h3
        %a{:href => "/music/#{album['title'].downcase.gsub(/\s/, '-')}"}= album['title']
      %h4= Time.at(album['release_date']).strftime("%b %Y")