#primary.grid_8
  #upcoming-shows.section
    %h2 Upcoming appearances

    %ol#shows
      -@shows.each do |show|
        %li
          -date=Time.parse(show['startDate'])
          %h4
            %a{:href => show['url'], :title => "View event on Last.fm"}=date.strftime("%a, %d %b#{", %Y" if date.year != Date.today.year} &mdash; %I:%M%p")
          %h3=[show['venue']['name'], show['venue']['location']['city']].reject { |s| s.empty? }.join('<br />')