/* reset.
--------------------------------------------- */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	border: 0;
	outline: 0;
	background: transparent;
}
	
ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

:focus {
	outline: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* misc.
--------------------------------------------- */

hr, .hide {
	display: none;
}

a img {
	border: none;
}


/*
 & Columns : 16 
 & Gutter %: 20% 
 & MinWidth: 960px
 & MaxWidth: 1080px
 */
.grid_1 { width: 5%; }
.grid_2 { width: 11.25%; }
.grid_3 { width: 17.5%; }
.grid_4 { width: 23.75%; }
.grid_5 { width: 30%; }
.grid_6 { width: 36.25%; }
.grid_7 { width: 42.5%; }
.grid_8 { width: 48.75%; }
.grid_9 { width: 55%; }
.grid_10 { width: 61.25%; }
.grid_11 { width: 67.5%; }
.grid_12 { width: 73.75%; }
.grid_13 { width: 80%; }
.grid_14 { width: 86.25%; }
.grid_15 { width: 92.5%; }
.grid_16 { width: 98.75%; }

.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12,
.grid_13,
.grid_14,
.grid_15,
.grid_16 {
	margin-left: 0.625%;
	margin-right: 0.625%;
	float: left;
	display: block;
}

.alpha{margin-left:0px;}
.omega{margin-right:0px;}

.container{
	min-width: 960px; 
	max-width: 1080px; 
	margin: auto;
}

/* @
 * tinyfluidgrid.com
 & girlfriendnyc.com
 */

.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}.clearfix:after{clear:both;content:' ';display:block;font-size:0;line-height:0;visibility:hidden;width:0;height:0}* html .clearfix,*:first-child+html .clearfix{zoom:1}

/* SITE SPECIFIC CSS */

body {
  background: #000;
  font-size: 62.5%;
  font-family: "myriad-pro-1","myriad-pro-2", "myriad pro", sans-serif;
}

a {
  text-decoration: none;
  color: #900022;
  font-weight: bold;
}

a:hover {
  
}

#page {
  
}

#background-image {
  width: 200%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: .7;
  height: 100%;
  background: url(/images/bg.jpg);
  background-position: 50% 0;
  max-width: 2500px;
}

#header {
  border-top: 12px solid #000;
  margin-bottom: 12px;
  border-bottom: 4px solid #000;
  border-color: rgba(0,0,0,0.7);
  
  h1#logo {
    padding: 0 12px;
    font-size: 58px;
    text-transform: uppercase;
    color: white;
    font-family: "arial black", arial;
    margin: 0;
    letter-spacing: 5px;
    a {
      color: #fff;
    }
    
    a:hover, a:focus {
      color: #900022;
    }
  }
  
  p.note {    
    padding-top: 12px;
    padding-bottom: 12px;
    color: white;
    font-style: italic;
    font-size: 1.4em;
    line-height: 0.8em;
    padding-left: 12px;
  }
  
  #navigation {
    background: rgba(0,0,0,0.1);
    padding: 0;
    margin: 0;

    li {
      padding: 0 12px 0 0;
      float: left;
    
      a {
        font-family: "droid-sans-1","droid-sans-2",sans-serif;
        color: #fff;
        text-transform: uppercase;
        font-size: 1.1em;
        font-weight: bold;
        display: block;
        padding: 12px 6px;
      }
      
      a:hover, a:focus {
        color: #900022;
      }
    }
    
    li:hover {
      background: #fff;      
      a {
        color: #900022;
      }
    }
  }
}

#primary {
  margin-left: 0;
}

.section {
  margin-bottom: 12px;
  background: #fff;
  background-color: rgba(255,255,255,0.8);
  padding-bottom: 1px;

  h2 {
    color: #fff;
    text-transform: uppercase;
    background: #000;
    font-size: 1.2em;
    font-family: "droid-sans-1","droid-sans-2",sans-serif;
    padding: 6px 12px;
  }
  
  h3 {
    font-size: 1.8em;
  }
  
  h4 {
    font-size: 1.2em;
  }
  
  ol {
    padding: 12px 12px 0 12px;
    
    li {
      margin-bottom: 12px;
    }
  }
  
  p, blockquote {
    padding: 0 12px;
    font-size: 1.2em;
    margin-bottom: 12px;
  }

}

.copy-block {
  p {
    margin-top: 0.8em;
    font-size: 1.4em;
  }
}

#band-image {
  height: 300px;
  overflow: hidden;
  border: 12px solid #000;
  
  img {
    width: 100%;
  }
}

#review {
  position: relative;
  padding-top: 24px;
  
  blockquote {
    color: #fff;
    font-size: 2.2em;
    font-style: italic;
    font-weight: bold;
    float: left;
    color: #333;
  }
  
  blockquote:before {
    font-family: georgia;
    content: "“ ";
    font-size: 4em;
    font-weight: bold;
    float: left;
    line-height: 1px;
    margin-top: 27px;
    margin-right: 12px;
    color: #fff;
  }

  blockquote:after {
    font-family: georgia;
    content: " ”";
    font-size: 4em;
    font-weight: bold;
    float: right;
    line-height: 1px;
    margin-top: 38px;
    margin-right: 24px;
    color: #fff;
  }
  
  p.source {
    text-align: right;
  }
}

ol#shows {
  h4 {
    text-transform: uppercase;
  }
}

ul#albums {
  li {
    float: left;
    img {
      width: 250px;
      height: 250px;
    }
  }
}